<!DOCTYPE html>
<html>
<head>
  <title>MyFirstRailsApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> a98b5a3bb35c9141229b77ae1f60610cf35bad9e
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
