<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
<<<<<<< HEAD
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
=======
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
>>>>>>> a98b5a3bb35c9141229b77ae1f60610cf35bad9e
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
